/*****************************************************************/
/*
/*** Footer Part Scss file Compile
/*
/*****************************************************************/
#lorada-footer {
	margin-top: 130px;

	@media( max-width: 1024px ) {
    	.sticky-toolbar-on & { margin-bottom: 40px; }

    	.sticky-toolbar-on.sticky-toolbar-label-on & { margin-bottom: 56px; }
	}

	.split-line .line-content {
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%; height: 1px;
			left: 0; top: 0;
			background-color: $footer_split_line;
		}
	}


	.product_list_widget .widget-item:not(:last-child),
	[class*="lorada-recent-posts"] li {
		border-color: $footer_split_line;
	}
}

.footer-boxed-width {
	max-width: $footer_width;
	padding: 0 30px;
	margin-left: auto;
	margin-right: auto;
}

.footer-main {
	background-color: $footer_bg_color;
	color: $footer_widget_text_color;

	a {
		color: $footer_widget_text_color;
		text-decoration: none;

		&:hover { color: $site_primary_color; }
	}

	.footer-main-wrapper {
		position: relative;
	}

	.footer-widget-content {
		padding: 60px 0px 10px;

		.main-footer-column {
			margin-bottom: 40px;
		}
	}

	.footer-widget {
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid $footer_split_line;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border: none;
		}
	}

	.widget-title {
		font-family: $body_font_family;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		color: $footer_widget_title_color;
		margin-bottom: 30px;
	}

	.tagcloud a {
		display: inline-block;
		font-size: 14px !important;
		line-height: 1.2;
		padding: 6px 8px;
		margin: 0 2px 5px 0;
		border: 1px solid $footer_widget_text_color;

		span {
			display: inline-block;
			margin-#{$left}: 5px;
		}

		&:hover {
			color: $footer_bg_color;
			background-color: $footer_widget_text_color;
		}
	}

	ul {
		font-size: 14px;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			line-height: 2.14;
			margin-bottom: 6px;

			&:last-child { margin-bottom: 0; }
		}
	}

	ul.menu {
		li a {
			display: block;
		}

		ul.sub-menu {
			list-style: none;
			padding-#{$left}: 1em;
			margin: 0;

			li {
				position: relative;
				font-size: 1em;
				font-weight: normal;

				a {
					text-decoration: none;
					padding: 0px;
					transition: all .25s ease-in-out;
				}

				&:before {
					content: none;
					display: block;
					position: absolute;
					left: 0;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					font-size: 10px;
					height: 10px;
					line-height: 10px;
					width: 10px;
					margin-top: 12px;
					transition: all .25s ease-in-out;
				}

				&:hover {
					> a, &:before { color: $site_primary_color !important;  }
				}
			}
		}
	}

	.mc4wp-form .mc4wp-form-fields {
		justify-content: flex-start;

		> p:first-child {
			flex: 1 1 190px;
			max-width: 190px;

			input {
				color: $footer_widget_text_color;
			}
		}
	}
}

.footer-bottom {
	background-color: $copyright_area_bg_color;

	.footer-bottom-wrapper {
		.copyright p {
			color: $copyright_area_text_color;
			margin-bottom: 0;

			a {
				color: $copyright_area_text_color;
				text-decoration: none;

				&:hover { color: $site_primary_color; }
			}
		}

		.payment-logo {
			text-align: $right;
		}

		.row {
			padding: 20px 0;
		}
	}
}

/* Cookie Popup */
.lorada-cookies-popup {
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	padding: 25px 30px;
	background-color: rgba(58, 58, 58, 0.9);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.14);
	transform: translate3d(0, 100%, 0);
	transition: transform 0.35s ease;

	@media( max-width: 1024px ) {
    	.sticky-toolbar-on & { bottom: 40px; }

    	.sticky-toolbar-on.sticky-toolbar-label-on & { bottom: 56px; }
	}

	&.popup-display {
		transform: none;
	}

	&.popup-hide {
		transform: translate3d(0, 100%, 0);
	}

	.woocommerce-demo-store &.popup-display {
		transform: translate3d(0, -46px, 0);
	}
}

.lorada-cookies-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.cookies-buttons {
		flex: 0 0 auto;
	}

	.cookies-info-text {
		font-size: 14px;
		color: #fff;
		flex: 1 1 auto;
		padding-#{$right}: 30px;
		line-height: 1.5;
	}
}

.cookies-buttons {
	& > a {
		margin-#{$right}: 15px;
		text-decoration: none;

		&:last-child {
			margin-#{$right}: 0px;
		}

		&:hover {
			box-shadow: inset 0 0 150px rgba(0, 0, 0, .2);
		}

		padding: 7px 15px;
		color: #fff;

		&.read-more-cookies {
			background-color: #222;
		}

		&.accept-cookie-btn {
			background-color: $site_primary_color;
		}
	}
}

/* Page Notification Popup */
[data-notify="container"] {
	&.alert-info {
		text-align: center;
		background-color: #fff;
		width: 310px;
		line-height: 1.4;
		border: 0;
		color: #777;
		padding: 20px;
		-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
		-moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
		box-shadow: 0 0 30px 0 rgba(0,0,0,.1);

		h4 {
			color: darken($body_font_color, 20%);
			font-size: 14px;
			margin-bottom: 5px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	button {
		&:focus {
			outline: none;
		}
	}

	i {
		span {
			font-size: 55px;
			margin-bottom: 0;
			color: #6C6;
			display: inline-block;

			img {
				border: 5px solid #ededed;
				width: 80px;
				height: auto;
				margin-bottom: 10px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}
}

/* Newsletter Popup */
.lorada-promo-popup {
	margin: 0 auto;
	padding: 30px;
}

/* Mobile Toolbar Nav */
.lorada-mobile-toolbar {
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #222;
	background-color: #fff;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.10);
	z-index: 1000;
	-webkit-overflow-scrolling: touch;

	@media ( min-width: 1025px ) { display: none; }

	&.show-toolbar-txt {
		.lorada-toolbar-item {
			> a { padding-bottom: 16px; }

			.item-text { display: block; }
		}
	}
}

.lorada-toolbar-item {
	flex: 1 0 20%;

	> a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: inherit;
		padding-left: 10px;
		padding-right: 10px;

		&:hover { color: $site_primary_color; }
	}

	i { font-size: 20px; }

	img {
		display: block;
		max-width: 20px;
		height: auto;
	}

	.item-text {
		display: none;
		font-size: 11px;
		font-weight: 600;
		line-height: 1;
		position: absolute;
		left: 10px; right: 10px;
		bottom: 0;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.item-icon-wrap {
		position: relative;
		line-height: 1;
	}

	.product-count {
		position: absolute;
		top: -5px; right: -7px;
		width: 14px; height: 14px;
		font-size: 9px;
		color: #fff;
		line-height: 14px;
		border-radius: 50%;
		background-color: #222;
		text-align: center;
	}
}

.lorada-toolbar-product-cats-wrap {
	position: fixed;
	top: 0; right: 0;
	bottom: 40px; width: 290px;
	background-color: #fff;
	overflow-y: auto;
	border-bottom: 1px solid #e6e6e6;
	padding: 80px 30px 30px;
	transform: translate3d(290px, 0, 0);
	transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.51, 0.82);
	z-index: 1000;

	.sticky-toolbar-label-on & { bottom: 56px; }

	.admin-bar & { top: 32px; }

	.sidebar-header {
		position: absolute;
		top: 30px; left: 30px;
		right: 30px;
	}

	.close-sidebar {
		display: inline-block;
		position: relative;
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		color: #222;

		i { font-size: inherit; }

		&:hover {
			transform: rotateZ(90deg);
		}
	}

	&.sidebar-open {
		transform: translate3d(0, 0, 0);
	}

	ul {
		list-style: none;
		margin: 0;
	}

	.product-cats-list {
		padding: 0;

		.cat-item {
			position: relative;
			border-top: 1px solid #e6e6e6;
		}

		> .cat-item:first-child {
			border-top: none;
		}

		a {
			display: inline-block;
			font-size: 13px;
			font-weight: 600;
			line-height: 20px;
			letter-spacing: 0.3px;
			color: #222;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-#{$right}: 30px;

			&:hover { color: $site_primary_color; }
		}

		.cat-parent {
			&:after {
				content: '\eb17';
				font-family: lorada-font;
				font-size: 14px;
				line-height: 51px;
				width: 30px;
				text-align: center;
				color: $body_font_color;
				position: absolute;
				top: 0; #{$right}: 0;
				cursor: pointer;
				transform-origin: center;
				transition: transform .3s ease-in-out;
			}

			&.parent-open:after {
				transform: rotateZ(180deg);
			}

			&.current-cat .children { display: block; }
		}

		.children {
			display: none;
			padding-#{$left}: 20px;
		}
	}
}
