/*****************************************************************/
/*
/*** Variable Form Scss file Compile
/*
/*****************************************************************/

.searchform {
	position: relative;

	input[type=text] {
		font-size: 14px;
		font-weight: 400;
		color: #222;
		height: 40px;
		outline: none;
		border: 1px solid #e6e6e6;

		.site-dark-mode & { 
			color: #fff;
			border-color: #fff;
			@include lorada-placeholder( #fff );
		}

		&:active, &:focus {
			border-color: #d6d6d6;
		}

		.site-dark-mode &:active,
		.site-dark-mode &:focus {
			border-color: #e1e1e1;
		}
	}

	.search-submit {
		position: absolute;
		top: 0;
		bottom: 0;
		#{$right}: 0;
		font-size: 0;
		background: transparent;
		border: none;
		padding: 0;
		width: 44px;
		text-align: center;
		outline: none;
		color: #222;

		&:before {
			content: '\eaff';
			font-family: 'lorada-font';
			display: block;
			font-size: 18px;
			line-height: 40px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%; left: 50%;
			width: 18px; height: 18px;
			margin-left: -9px;
			margin-top: -9px;
			border-radius: 50%;
			border: 1px solid rgba(0, 0, 0, 0.45);
			border-#{$left}-color: #000;
			animation: rotate-spin 0.4s linear infinite;
			opacity: 0;
		}

		.site-dark-mode & {
			color: #fff;

			&:after {
				border-color: #666;
				border-left-color: #fff;
			}
		}

		&:hover {
			animation: top-bottom-shake 1s;
    		-webkit-animation: top-bottom-shake 1s;
		}
	}

	&.ajax-search-loading {
		.search-submit {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}
	}
}

.search-by-category {
	position: absolute;
	top: 2px;
	#{$right}: 45px;

	.search-dropdown-category-inner {
		position: relative;
		height: 36px;
		line-height: 36px;
		border-left: 1px solid lighten($body_font_color, 40%);
		border-right: 1px solid lighten($body_font_color, 40%);

		> a {
			display: block;
			font-size: 13px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			padding: 0 15px;
			color: #222;

			&:after {
				content: '\eb17';
				display: inline-block;
				font-family: lorada-font;
				font-size: 10px;
				margin-#{$left}: 7px;
			}
		}

		.category-list {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top: 100%; #{$right}: 0px;
			box-shadow: 0 0 3px rgba(0, 0, 0, .15);
			margin-top: 2px;
			min-width: 170px;
			max-width: 230px;
			z-index: 100;
			background: #fff;
			animation-duration: .25s;
			animation-fill-mode: both;

			ul.category-list-content {
				position: relative;
				max-height: 300px;
				list-style: none;
				margin: 0; padding: 0;
				overflow: auto;
				overflow-x: hidden;
				@include lorada-scrollbar;

				li {
					a {
						display: block;
						padding: 8px 18px;
						color: #777;
						font-size: 13px;
						line-height: 20px;
						font-weight: 400;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow-x: hidden;
						text-decoration: none;

						&:hover {
							background-color: lighten($body_font_color, 57%);
						}
					}
				}

				.children {
					list-style: none;
					padding: 0; margin: 0;

					> li > a {
						padding-#{$left}: 30px;
					}
				}
			}
		}

		&.fold-up-list {
			.category-list {
				animation-name: nav_menu_anim_close;
			}
		}

		&.dropped-list {
			.category-list {
				animation-name: nav_menu_anim_open;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.search-form-dropdown {
	.search-form-wrapper {
		position: absolute;
		top: 100%; #{$right}: -30px;
		padding-top: 15px;
		width: 300px;
		visibility: hidden;
		opacity: 0;
		transition: opacity .3s ease, visibility .3s ease;
		animation-duration: .3s;
		animation-fill-mode: both;
		animation-name: nav_menu_anim_close;
		z-index: 300;

		.form-inner {
			background-color: #fff;
			box-shadow: 0 0 3px rgba(0, 0, 0, .15);
		}
	}

	&:hover {
		> .search-form-wrapper {
			transition: opacity .3s ease, visibility .3s ease;
			animation-duration: .3s;
			animation-fill-mode: both;
			animation-name: nav_menu_anim_open;
			visibility: visible;
			opacity: 1;
		}
	}

	input[type=text] {
		border-style: none;
		height: 60px;
		padding-#{$right}: 55px;
		padding-#{$left}: 20px;
	}
}

.full-screen-search-form {
	position: fixed;
	#{$left}: 0; top: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	background-image: url(../images/search-placeholder.png);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size: 12%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    z-index: 600;

	@media( max-width: 1024px ) {
    	.sticky-toolbar-on & { bottom: 40px; }

    	.sticky-toolbar-on.sticky-toolbar-label-on & { bottom: 56px; }
	}

    .form-inner,
    .lorada-search-form {
    	position: relative;
    	width: 100%;
    	height: 100%;

    	.search-result-container {
    		position: absolute;
    		top: 0;
    		bottom: 120px;
    		width: 100%;
    	}
    }

	.search-submit {
		display: none;
	}

	.searchform {
		position: absolute;
		width: 50%;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;

	    &.lorada-ajax-search {
	    	width: 100%;
	    	top: auto; left: auto;
	    	bottom: 0;
	    	transform: none;
	    	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

	    	input[type=text] {
				height: 100px;
				text-align: center;
				font-size: 45px;
				border: none;
			}
	    }
	}


	&.opened {
		animation-name: lorada-zoom-fadeIn;
		animation-duration: 0.5s;
		animation-fill-mode: both;

		.searchform {
			animation-name: lorada-searchbox-moveDown;
			animation-duration: 0.5s;
			animation-fill-mode: both;
			animation-delay: 0.5s;

			&.lorada-ajax-search {
				animation-name: lorada-ajax-searchbox-moveUp;
			}
		}

		&.form-loading {
			animation: lorada-search-anim 1.3s linear infinite, lorada-zoom-fadeIn .5s .5s both;
		}
	}

	&.closed {
		animation-name: lorada-zoom-fadeOut;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-delay: 0.5s;

		.searchform {
			animation-name: lorada-searchbox-moveUp;
			animation-duration: 0.5s;
			animation-fill-mode: both;

			&.lorada-ajax-search {
				animation-name: lorada-ajax-searchbox-moveDown;
			}
		}
	}

	.form-close {
		cursor: pointer;
		position: absolute;
		bottom: 0px; #{$right}: 5px;
		width: 100px; height: 100px;
		z-index: 110;

		&:before, &:after {
			content: '';
			display: inline-block;
			width: 40px;
			height: 3px;
			position: absolute;
			top: 50%; right: 50%;
			margin-top: -2px;
			margin-#{$right}: -20px;
			background-color: darken($body_font_color, 20%);
			transition: all .3s;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:after, &:before {
				transform: rotate(0);
			}
		}
	}

    input[type=text] {
		border-style: none;
		border-bottom: 1px solid lighten($body_font_color, 50%);
		height: 70px;
		text-align: $left;
		font-size: 35px;
		font-weight: 500;
		color: darken($body_font_color, 20%);
		@include lorada-placeholder( #ababab );
	}

	.autocomplete-suggestions {
		max-height: initial !important;
		top: 0; bottom: 0;
		box-shadow: none;
		justify-content: flex-start;
		padding: 15px;

		.autocomplete-suggestion {
			flex: 0 0 16.66666%;
			border: none;
			text-align: center;

			.suggestion-title.no-result-msg {
				white-space: nowrap;
				font-size: 1.5em;
				margin-top: 10vh;
			}

			.suggestion-thumb {
				float: none;
				max-width: 100%;
				margin-#{$right}: 0;
				margin-bottom: 10px;
			}

			&.autocomplete-selected {
				background-color: #fff;
			}
		}

		.view-all-results {
			font-size: 1.15em;

			span {
				display: inline-block;
				border: 1px solid #9e9e9e;
				padding: 10px 20px;
			}
		}
	}
}


/* Ajax Search Form */
.search-result-container {
	position: relative;
}

.autocomplete-suggestions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	@include lorada-scrollbar;

	.site-dark-mode & { background-color: lighten( $site_solid_background, 6% ); }

	.autocomplete-suggestion {
		display: block;
		flex: 1 1 282px;
		padding: 15px;
		border: 1px solid #efefef;
		border-top: none;
		border-#{$left}: none;
		background-color: #fff;
		cursor: pointer;
		transition: background-color .3s ease;

		.site-dark-mode & { 
			background-color: lighten( $site_solid_background, 6% ); 
			border-color: lighten( $site_solid_background, 12% );
		}

		.suggestion-thumb {
			float: $left;
			max-width: 70px;
			margin-#{$right}: 15px;
			border: 1px solid #f9f9f9;

			.site-dark-mode & { 
				border-color: lighten( $site_solid_background, 12% );
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.suggestion-title {
			font-weight: 500;
			font-size: 14px;
			line-height: 23px;
			color: #222;
			margin-bottom: 5px;

			strong {
				color: #111;
				text-decoration: underline;
			}

			.site-dark-mode & { 
				color: rgba(255, 255, 255, .8);

				strong { color: #fff; }
			}

			&.no-result-msg {
				margin-bottom: 0;
			}
		}

		.suggestion-price {
			display: block;
			font-size: 13px;
			color: $site_primary_color;

			span.amount {
				font-weight: 600;
			}

			del {
				color: #bbb;
				margin: 0;

				.amount {
					font-weight: 400;
					color: #bbb;
				}

				.site-dark-mode & { 
					color: $body_font_color;

					.amount { color: $body_font_color; }
				}
			}

			ins {
				text-decoration: none;
				margin-#{$left}: 15px;
			}
		}

		&.autocomplete-selected {
			background-color: #fafafa;
		}
	}

	.view-all-results {
		flex: 1 1 100%;
		font-weight: 500;
		color: #333;
		padding: 13px;
		font-size: 13px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		transition: color .25s ease;

		.site-dark-mode & { color: #fff; }

		&:hover {
			color: $site_primary_color;
		}
	}
}


/* Woocommerce Login/Register Form */
.woocommerce-form-login {
	position: relative;

	.login-form-close {
		display: none;
		position: absolute;
		top: 0; #{$right}: 0;
		font-size: 0;
		cursor: pointer;

		&:after {
			content: '\eb07';
			display: block;
			font-family: lorada-font;
			font-size: 14px;
			color: darken($body_font_color, 20%);
			width: 30px; height: 30px;
			line-height: 30px;
			text-align: center;
		}
	}

	.login-form-footer {
		.remember-me-label {
			float: $left;
			cursor: pointer;
			font-weight: 500;

			#rememberme {
				display: block;
				margin-top: 3px;
				margin-#{$right}: 10px;
				float: $left;
			}
		}

		.lost_password {
			float: $right;
			color: $site_primary_color;
			text-decoration: none;

			&:hover {
				opacity: .8;
			}
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.login-separator {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		text-transform: uppercase;
		margin: 10px 0;

		&:before, &:after {
			content: '';
			display: block;
			flex: 1 0 0;
			height: 1px;
			background-color: lighten($body_font_color, 50%);
		}

		&:before { margin-right: 15px; }

		&:after { margin-left: 15px; }
	}

	div.nsl-container {
		.nsl-button,
		.nsl-button-google[data-skin="dark"] .nsl-button-svg-container {
			border-radius: 0;
		}

		.nsl-container-buttons {
			padding-bottom: 0;
		}

		.nsl-button-facebook {
			&[data-skin="dark"] {
				background-color: #38529a !important;
			}

			&[data-skin="light"] {
				color: #38529a;
				box-shadow: inset 0 0 0 1px #38529a;

				svg path:first-child {
					fill: #38529a;
				}
			}
		}
	}

	div.nsl-container-block .nsl-container-buttons a {
		max-width: initial;

		&:last-child { margin-bottom: 0; }
	}
}

form.woocommerce-form-login,
form.register {
	.form-row {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		justify-content: space-between;

		.password-input {
			display: block;
			width: 100%;
		}

		label {
			font-weight: normal;
			color: $h6_font_color;
			cursor: pointer;

			.required {
				color: #de0b0b;
			}
		}

		input:not([type="submit"]) {
			background-color: lighten($body_font_color, 55.5%);
			border-color: lighten($body_font_color, 55.5%);
		}

		input[type='submit'] {
			border: none;
			background-color: $h6_font_color;
			font-weight: 600;
			color: #fff;
			width: 100%;
			text-transform: uppercase;
			padding: 10px;
			box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
			outline: none;
			transition: all .3s ease;
			cursor: pointer;

			&:hover {
				background-color: $site_primary_color;
			}

			&:active {
				transform: translateY(2px);
			}
		}
	}
}

#login_form form.woocommerce-form-login {
	.login-separator { margin-top: 20px; }

	div.nsl-container-block .nsl-container-buttons {
		flex-direction: row;
		margin: 0 -5px;

		> a {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

form.register {
	.user-role {
		flex-direction: column;

		input {
			display: inline;
			opacity: 1;
			visibility: visible;
			margin-#{$right}: 5px;
			vertical-align: middle;
		}
	}
}