/*****************************************************************/
/*
/*** Shop Page Scss file Compile
/*
/*****************************************************************/
.shop-content-area {
	position: relative;

	.term-description {
		margin-bottom: 40px;
	}

	.loading-effect {
		position: fixed;
		left: 50%;
		top: 50%;
		margin-left: -35px;
		margin-top: -35px;
		z-index: 110;
		transition: all 0.1s ease-in-out;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0; top: 0;
		right: 0; bottom: 0;
		background-color: rgba(255, 255, 255, .9);
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	.site-dark-mode &:after {
		background-color:  rgba($site_solid_background, .9);
	}

	&.ajax-loading {
		.loading-effect.show-anim,
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.shop-loop-header {
	margin-bottom: 20px;
	width: 100%;
}

.shop-loop-footer {
	text-align: center;

	.lorada-products-load-more {
		position: relative;
		background-color: $site_primary_color;
		color: #fff;
		line-height: 3em;
		height: 3.1em;
		min-width: 220px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 20px;
		text-decoration: none;

		.loading-text-label {
			display: none;
			position: relative;

			&:after {
				content: '\eab7';
				display: block;
				position: absolute;
				top: 0; #{$right}: -30px;
				font-family: "lorada-font";
				font-size: 16px;
				animation: rotate-spin 0.6s infinite linear;
			}
		}

		&.loading {
			.loading-text-label {
				display: inline-block;
			}

			.text-label {
				display: none;
			}
		}

		&:hover { box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.15); }
	}
}

.shop-loop-breadcrumbs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.woocommerce-breadcrumb {
		margin-bottom: 15px;
	}
}

.woocommerce-breadcrumb {
	font-family: $body_font_family;
    font-size: $body_font_size;
    line-height: $body_font_line_height;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
    	display: flex;
    	align-items: center;
		font-weight: 400;
		color: $body_font_color;
		text-decoration: none;
		margin-#{$right}: 6px;

		&:after {
			content: '\eb19';
			font-family: 'lorada-font';
			font-size: 10px;
			color: $body_font_color !important;
			margin-#{$left}: 5px;
		}

		&:focus, &:hover {
			color: #222;
		}

		.site-dark-mode & {
			&:focus, &:hover {
				color: #fff;
			}
		}
	}

	.breadcrumb-last {
		color: #222;
		font-weight: 600;
		margin-#{$right}: 8px;

		.site-dark-mode & { color: #fff; }

		&:last-child {
			margin-#{$right}: 0;
		}
	}
}

.woocommerce-result-count {
	font-size: $body_font_size;
    line-height: $body_font_line_height;
	margin-bottom: 20px;
}

.woocommerce-notices-wrapper {
	flex: 1 1 100%;
	max-width: 100%;
}

.lorada-show-sidebar-btn {
	display: none;
	align-items: center;
	font-weight: 600;
	font-size: 13px;
	line-height: 19px;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-#{$right}: 30px;
	color: #222;
	cursor: pointer;

	.site-dark-mode & { color: #fff; }

	.lorada-sidebar-icon {
		position: relative;
		margin-top: 6px;
		margin-bottom: 6px;
		vertical-align: middle;
		margin-#{$right}: 7px;

		&, &:before, &:after {
			display: inline-block;
			width: 17px;
			height: 2px;
			background-color: #222;
			-webkit-transition: all .25s ease;
			transition: all .25s ease;
		}

		.site-dark-mode & {
			&, &:before, &:after { background-color: #fff; }
		}

		&:before, &:after {
			content: '';
			position: absolute;
			#{$left}: 0;
		}

		&:before { top: -6px; }

		&:after { top: 6px; }
	}

	&:hover {
		.lorada-sidebar-icon {
			&:before { width: 12px; }

			&:after { width: 10px; }
		}
	}
}

.shop-loop-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	div:last-child, form:last-child {
		margin-#{$right}: 0;
	}
}

.shop-products-per-page {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 14px;
	font-weight: 400;
	color: $body_font_color;
	line-height: 20px;
	margin-#{$right}: 23px;
	margin-bottom: 15px;

	.per-page-title {
		display: inline-block;
		margin-bottom: 0;
		margin-#{$right}: 0;
		color: #222;
		font-weight: 600;
		vertical-align: middle;

		.site-dark-mode & { color: #fff; }

		&:after {
			content: ' :';
		}
	}

	.per-page-variation {
		display: inline-block;
		color: inherit;
		padding: 0 7px;
		text-decoration: none;

		&:hover {
			color: #222;
		}

		&.current-variation {
			color: #222;
			font-weight: 600;
		}

		.site-dark-mode & {
			&:hover,
			&.current-variation { color: #fff; }
		}
	}

	.per-page-border {
		vertical-align: middle;
		display: inline-block;

		&:after {
			content: '/';
		}

		&:last-child {
			display: none;
		}
	}
}

.shop-products-view {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-#{$right}: 30px;
	margin-bottom: 15px;

	.shop-view {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px; height: 40px;
		line-height: 40px;
		color: lighten($body_font_color, 20%);
		border: 1px solid lighten($body_font_color, 20%);
		text-align: center;
		text-decoration: none;
		margin-#{$right}: 10px;

		&:hover {
			color: $body_font_color;
			border-color: $body_font_color;
		}

		&.current-selection {
			color: $site_secondary_color;
			border-color: $site_secondary_color;
			cursor: default;
		}
	}

	.products-view-list { font-size: 24px; }

	.products-view-grid {
		font-size: 20px;

		i { margin-left: 1px; }
	}
}

.woocommerce-ordering {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-#{$right}: 30px;
	margin-bottom: 15px;
	z-index: 50;

	select {
		max-width: 200px;
		height: auto;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		color: #222;
		padding-#{$left}: 2px;
		padding-#{$right}: 20px;
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
	}

	.nice-select {
		min-width: 150px;
		height: 38px;
		line-height: 38px;
		font-weight: 600;
		color: #222;
		border-color: transparent;
		padding-left: 0;

		&:after {
			height: 38px;
			line-height: 38px;
		}
	}

	.site-dark-mode & {
		select, .nice-select { color: #fff; }
	}
}

.widget_price_filter {
	.ui-slider-horizontal {
		height: 20px;
		cursor: pointer;
		border: none;
		background: none;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -1px;
			height: 3px;
			background-color: lighten($body_font_color, 20%);
		}
	}

	.ui-slider {
		position: relative;
	}

	.ui-slider-range {
		position: absolute;
		top: 50%;
		margin-top: -1px;
		height: 3px;
		z-index: 1;
		display: block;
		border: 0;
		border-radius: 0;
		background-image: none;
		background-color: $site_primary_color;
	}

	.ui-slider-handle {
		position: absolute;
		top: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 2;
		width: 22px;
		height: 22px;
		margin-top: -11px;
		margin-#{$left}: 0px;
		background-color: $site_primary_color;
		background-image: none;
		border-radius: 50%;
		border: 3px solid $site_solid_background;
		cursor: ew-resize;
		outline: 0;

		&:nth-of-type(2) {
			margin-#{$left}: -22px;
		}
	}

	.price_slider {
		margin-bottom: 20px;
	}

	.price_slider_amount {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: -10px;

		.price_label {
			order: 1;
			color: $body_font_color;
			font-size: 14px;

			& > span {
				font-weight: 600;
				color: #222;

				.site-dark-mode & { color: #fff; }
			}
		}

		.button {
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			line-height: 20px;
			padding: 10px 25px;
			border: none;
			outline: none;
			background-color: #222;
			order: 2;
			transition: all .3s ease;

			&:hover { background-color: $site_primary_color; }

			.site-dark-mode & {
				background-color: $site_primary_color;

				&:hover { background-color: lighten( $site_primary_color, 6% ); }
			}
		}

		.clear {
			display: none;
		}
	}

	#max_price, #min_price {
	    display: none;
	}
}

.topside-filter-toggle {
	margin-bottom: 15px;

	> a {
		display: flex;
		align-items: center;
		font-size: 1em;
	    font-weight: 500;
	    height: 40px;
	    line-height: 40px;
	    color: #fff;
	    background-color: #222;
	    padding: 0px 25px;

	    &:hover {
	    	background-color: $site_primary_color;
	    }

	    &:after {
			content: '\eb17';
			font-family: 'lorada-font';
			font-size: 1em;
			margin-left: 10px;
			transition: all 0.25s ease;
	    }

	    &.toggled:after { transform: rotate(-180deg); }
	}
}

// Shop Header
.lorada-show-categories {
	display: none;
	margin-top: 5px;
	margin-bottom: -10px;
	cursor: pointer;

	a {
		position: relative;
		display: inline-block;
		font-weight: 500;
		font-size: 14px;
		color: $body_font_color;;
		padding: 10px 0;
		text-decoration: none;

		.color-scheme-light & {
			color: #fff;
		}

		&:after {
			content: '\eb17';
			font-family: lorada-font;
			font-size: 14px;
			display: inline-block;
			margin-#{$left}: 10px;
			transition: transform .3s ease-in-out;
		}
	}

	&.category-shown {
		a:after {
			transform: rotate(-180deg);
		}
	}
}

.lorada-product-categories {
	padding-left: 0;
	margin-top: 30px;
	vertical-align: middle;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -20px;

	.title-size-small & {
		margin-top: 10px;
	}

	.shop-all-link {
		display: none;
	}

	li {
		position: relative;
	}

	& > li {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;
	}

	.category-nav-link a {
		color: inherit;

		&:focus, &:hover {
			.category-name:after {
				width: 100%;
			}
		}
	}

	.current-cat {
		.category-nav-link {
			.category-name:after {
				width: 100%;
			}
		}
	}
}

.category-nav-link {
	position: relative;

	a {
		position: relative;
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.category-icon {
		max-height: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.category-summary {
		display: block;
		vertical-align: middle;
		text-align: center;
	}

	.category-name {
		position: relative;
		display: inline-block;
		font-weight: 600;
		font-size: 1em;
		letter-spacing: .2px;
		line-height: 1.3;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			#{$left}: 0;
			width: 0;
			height: 2px;
			background-color: $site_primary_color;
			transition: width .5s cubic-bezier(.2, .8, .3, 1.2);
		}
	}

	.category-products-count {
		display: block;
		text-transform: capitalize;
		font-size: 0.81em;
		margin-top: 0px;
		opacity: .8;
	}
}

.title-size-small .category-icon {
    //max-height: 40px;
}

.no-product-count {
	.lorada-product-categories {
		margin-left: -12px;
		margin-right: -12px;
	}

	.category-nav-link {
		a {
			padding-left: 12px;
			padding-right: 12px;
		}

		.category-icon {
			max-height: 20px;
			margin-#{$right}: 7px;
		}
	}

	.shop-all-link {
		a:before {
			font-size: 16px;
		}

		.category-products-count {
			display: none;
		}
	}
}

// Lorada Ajax Attribute Filter widget
[class*='lorada-ajax-attribute-filter'] {
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		&:hover > .count {
			color: #fff;
			background-color: $site_primary_color;
			border-color: $site_primary_color;
		}
	}

	.swatches-display-inline {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		li {
			margin-#{$right}: 10px;

			&:last-child { margin-bottom: 5px; }
		}

		.count {
			min-width: 30px;
		}

		.with-swatch-image {
			li { margin-#{$right}: 20px; }
		}
	}

	.chosen {
		.filter-swatch span {
			background-color: transparent !important;
			border-color: transparent;

			&:after { opacity: 1; }
		}

		.layer-term-name {
			font-weight: 600;
			color: #222;

			.site-dark-mode & { color: #fff; }
		}
	}

	.show-labels-off {
		.layer-term-name, .count { display: none; }

		.filter-swatch { margin-#{$right}: 0; }

		.layered-nav-link {
			padding-#{$right}: 0;

			&:after { content: none; }
		}
	}

	.with-swatch-image {
		.filter-swatch span {
			width: 35px;
			height: 35px;
			border-radius: 0;

			&:after { content: none; }
		}

		.layered-nav-link:hover, .layered-nav-link:focus {
			.filter-swatch span {
				border-color: #222;

				.site-dark-mode & { border-color: #fff; }
			}
		}

		&.chosen .filter-swatch span { border-color: $site_primary_color; }
	}

	.layered-nav-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1 1 auto;
		position: relative;
		padding-#{$right}: 5px;
		padding-top: 5px;
		padding-bottom: 5px;

		&:focus, &:hover {
			.filter-swatch span {
				background-color: transparent !important;
				border-color: transparent;

				&:after { opacity: 1; }
			}
		}
	}

	.swatch-inner {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
	}

	.filter-swatch {
		position: relative;
		font-size: 0;
		transition: opacity .25s ease;

		span {
			position: relative;
			display: block;
			width: 10px; height: 10px;
			border-radius: 50%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			background-clip: padding-box;
			border: 1px solid rgba(129, 129, 129, .2);
			margin-#{$right}: 10px;
			transition: all .2s ease-in-out;

			&:after {
				content: '\eb12';
				display: flex;
				justify-content: center;
				font-family: 'lorada-font';
				position: absolute;
				top: 0; bottom: 0;
				right: 0; left: 0;
				align-items: center;
				opacity: 0;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				color: #222;
				border-radius: 50%;
				transition: opacity .2s ease-in-out;
			}

			.site-dark-mode &:after { color: #fff; }
		}
	}

	.layer-term-name {
		position: relative;
		line-height: 1.2;
		font-size: 14px;
	}

	.count {
		text-align: center;
		font-size: 14px;
		line-height: 18px;
		transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
		border: 1px solid #e6e6e6;
		border-radius: 35px;
		padding: 0 5px;
		min-width: 30px;
	}

	.filter-pseudo-link {
		display: none;
	}
}

// Topside Shop Filter Widget
.topside-filter-widget {
	display: none;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
	border: 1px solid #e1e1e1;

	.topside-widget-inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.sidebar-widget {
		max-width: 280px;
		min-width: 280px;
		padding: 0 15px;
		margin-bottom: 30px;

		.widget-title {
			font-size: 18px;
			font-weight: 600;
			color: $h2_font_color;
			margin-bottom: 20px;
		}
	}
}
