
// RTL Setting
$left: left;
$right: right;

$container_width: 1440px;
$site_primary_color: #c9a48e;
$site_secondary_color: #f24400;
$site_background: #fff ;
$site_solid_background: #fff;
$site_background_opacity: rgba(255,255,255, .85);
$topbar_bg_color: #eae4d7;
$topbar_txt_color: #222222;
$body_font_family: Open Sans;
$body_font_weight: 400;
$body_font_size: 14px;
$body_font_line_height: 24px;
$body_font_color: #666;
$nav_font_family: Marcellus;
$nav_font_weight: 400;
$nav_font_size: 14px;
$nav_font_color: #222;
$nav_icon_hover_color: rgba(34,34,34, .6);
$nav_border_color: rgba(34,34,34, .15);
$h1_font_family: Lora;
$h1_font_weight: 600;
$h1_font_size: 24px;
$h1_font_line_height: 34px;
$h1_font_color: #222;
$h2_font_family: Lora;
$h2_font_weight: 600;
$h2_font_size: 20px;
$h2_font_line_height: 28px;
$h2_font_color: #222;
$h3_font_family: Lora;
$h3_font_weight: 600;
$h3_font_size: 18px;
$h3_font_line_height: 25px;
$h3_font_color: #222;
$h4_font_family: Lora;
$h4_font_weight: 400;
$h4_font_size: 16px;
$h4_font_line_height: 23px;
$h4_font_color: #222;
$h5_font_family: Lora;
$h5_font_weight: 400;
$h5_font_size: 13px;
$h5_font_line_height: 18px;
$h5_font_color: #222;
$h6_font_family: Lora;
$h6_font_weight: 400;
$h6_font_size: 11px;
$h6_font_line_height: 15px;
$h6_font_color: #222;
$header_bg_color: #fff ;
$header_solid_bg_clr: #fff;
$header_width: 1440px;
$mobile_enable_width: 1199px;
$header_top_space_val: 20px;
$header_bottom_space_val: 20px;
$header_logo_height_val: 43px;
$sticky_logo_height_val: 43px;
$logo_padding_top: 0;
$logo_padding_bottom: 0;
$logo_padding_left: 0;
$logo_padding_right: 0;
$topbar_width: 1440px;
$menu_bg_color: #fff url() left top /  auto repeat ;
$submenu_bg_color: #fff;
$navmenu_align_val: center;
$collection_menu_content_bg_color: #ffffff;
$collection_menu_bg_color: #eae4d7;
$collection_menu_title_color: #333333;
$cart_icon_bg_color: #f6edea;
$sitcky_header_bg_color: #FFFFFF;
$sticky_header_menu_color: #222222;
$sticky_nav_icon_hover_color: rgba(34,34,34, .6);
$sticky_header_top_spacing_val: 10px;
$sticky_header_bottom_spacing_val: 10px;
$page_heading_top_space_val: 40px;
$page_heading_bottom_space_val: 40px;
$footer_width: 1470px;
$footer_bg_color: #F1F1F1;
$footer_widget_title_color: #222222;
$footer_widget_text_color: #666666;
$footer_split_line: rgba(102,102,102, .2);
$copyright_area_bg_color: #F1F1F1;
$copyright_area_text_color: #666666;
$hot_label_bg_color: #c71414;
$soldout_label_bg_color: #3a3a3a;
